<template>
  <div>
    <!-- <div class="rotate">
      <Counter />
    </div> -->
    <div
      v-for="(partners, index) in $store.state.players[opponent].commander"
      :key="partners"
    >
      <button
        class="btn"
        :class="getRotation"
        v-longpress="{
          func: onLongpress,
          param: index,
        }"
        @click="onPress(index)"
      >
        {{ currentCount(index) }}
      </button>
    </div>
    <teleport to="#modal-teleport">
      <Popup
        :rotation="rotation"
        v-show="isOpen"
        :initialValue="currentValue"
        @save="onPopupSave"
        @close="onPopupClose"
      />
    </teleport>
  </div>
</template>

<script>
// import Counter from "./Counter.vue";
import Popup from "./Popup.vue";

export default {
  name: "CommanderDamage",
  components: {
    // Counter,
    Popup,
  },
  props: {
    rotation: String,
    player: String,
    opponent: String,
  },
  data: () => ({
    isOpen: false,
    currentValue: 0,
    currentPartner: 0,
  }),
  computed: {
    getRotation() {
      return `rotation-${this.rotation}`;
    },
  },
  beforeMount() {
    this.$store.dispatch("initCommanderDamage", {
      player: this.player,
      opponent: this.opponent,
      commanderCount: this.$store.state.players[this.opponent].commander,
    });
  },
  methods: {
    currentCount(partner) {
      return this.$store.state.players[this.player].commanderDamage[
        this.opponent
      ][partner];
    },
    onPress(partner) {
      this.$store.dispatch("incCommanderDamage", {
        player: this.player,
        opponent: this.opponent,
        partner: partner,
      });
    },
    onLongpress(partner) {
      this.currentValue = this.currentCount(partner);
      this.currentPartner = partner;

      this.isOpen = true;
    },
    onPopupSave(newValue) {
      this.$store.dispatch("setCommanderDamage", {
        player: this.player,
        opponent: this.opponent,
        partner: this.currentPartner,
        newValue: newValue,
      });

      this.isOpen = false;
    },
    onPopupClose() {
      this.isOpen = false;
    },
  },
};
</script>

<style scoped>
.btn {
  width: 40px;
  width: 50px;
  color: #fff;
  background-color: #161f27;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
</style>