<template>
<button></button>
  <!-- <button
    v-longpress="{
      func: onLongpress,
    }"
    @click="onPress"
  >
    {{ currentCount(player, opponent) }}
  </button>
  <button
    v-if="$store.state.players[opponent].partner"
    v-longpress="{
      func: onLongpress,
    }"
    @click="onPress"
  >
    {{ currentCount(player, opponent) }}
  </button> -->
</template>

<script>
export default {};
</script>

<style>
</style>