<template>
  <div class="modalTest">
    <div class="modal-wrapper">
      <div class="modal-container" :class="getRotation">
        <div class="row">
          <p>{{ initialValue }}</p>
          <input
            type="number"
            @focus="$event.target.select()"
            v-model="value"
          />
        </div>
        <div class="row">
          <button @click="setValue(5)">5</button>
          <button @click="setValue(10)">10</button>
        </div>
        <div class="row">
          <button @click="setValue(15)">15</button>
          <button @click="setValue(20)">20</button>
        </div>
        <div class="row">
          <button @click="addValue(+1)">+1</button>
          <button @click="addValue(-1)">-1</button>
        </div>
        <div class="row">
          <button @click="save">Save</button>
          <button @click="close">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Popup",
  props: {
    rotation: String,
    initialValue: Number,
  },
  emits: ["save", "close"],
  data: () => ({
    value: 0,
  }),
  computed: {
    getRotation() {
      return `rotation-${this.rotation}`;
    },
  },
  methods: {
    save() {
      this.$emit("save", this.value);
      this.resetValue();
    },
    close() {
      this.$emit("close", "this.newValue");
      this.resetValue();
    },
    resetValue() {
      this.value = 0;
    },
    setValue(val) {
      this.value = val;
    },
    addValue(val) {
      this.value += val;
    },
  },
};
</script>

<style scoped>
.modalTest {
  position: absolute;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.row>p, .row>input, .row>button {
  display:flex;
  width: 50%;
  justify-content: center;
}

p, button, input {
  font-family: inherit;
  font-size: inherit;
  margin: 5px 5px;
  padding: 15px;
  border: none;
  border-radius: 6px;
  outline: none;
}

p {
  color: #fff;
  background-color: grey;
}

button {
  color: #fff;
  background-color: #161f27;
}

input {
  border: 1px solid black;
}
</style>