<template>
  <div class="playground">
    <!-- Player One -->
    <div class="player one">
      <div class="horizontal-part">
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'one',
              opponent: 'two',
            })
          "
        >
          {{ $store.state.players.one.commanderDamage.two }}
        </button>
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'one',
              opponent: 'three',
            })
          "
        >
          {{ $store.state.players.one.commanderDamage.three }}
        </button>
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'one',
              opponent: 'four',
            })
          "
        >
          {{ $store.state.players.one.commanderDamage.four }}
        </button>
      </div>

      <div class="horizontal-part">
        <button class="rotate" @click="$store.dispatch('decLifeTotal', 'one')">
          -
        </button>
        <button class="rotate">
          {{ $store.state.players.one.lifeTotal }}
        </button>
        <button class="rotate" @click="$store.dispatch('incLifeTotal', 'one')">
          +
        </button>
      </div>
    </div>

    <!-- Player Two -->
    <div class="player two">
      <div class="horizontal-part">
        <button class="rotate" @click="$store.dispatch('incLifeTotal', 'two')">
          +
        </button>
        <button class="rotate">
          {{ $store.state.players.two.lifeTotal }}
        </button>
        <button class="rotate" @click="$store.dispatch('decLifeTotal', 'two')">
          -
        </button>
      </div>
      <div class="horizontal-part">
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'two',
              opponent: 'one',
            })
          "
        >
          {{ $store.state.players.two.commanderDamage.one }}
        </button>
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'two',
              opponent: 'three',
            })
          "
        >
          {{ $store.state.players.two.commanderDamage.three }}
        </button>
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'two',
              opponent: 'four',
            })
          "
        >
          {{ $store.state.players.two.commanderDamage.four }}
        </button>
      </div>
    </div>

    <!-- Player Three -->
    <div class="player three">
      <div class="horizontal-part">
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'three',
              opponent: 'one',
            })
          "
        >
          {{ $store.state.players.three.commanderDamage.one }}
        </button>
        <button
          class="rotate"
          @click="
            $store.dispatch('incCommanderDamage', {
              player: 'three',
              opponent: 'two',
            })
          "
        >
          {{ $store.state.players.three.commanderDamage.two }}
        </button>
        <div :style="{ display: 'flex', 'flex-direction': 'column' }">
          <button
            class="rotate"
            @click="
              $store.dispatch('incCommanderDamage', {
                player: 'three',
                opponent: 'four',
              })
            "
          >
            {{ $store.state.players.three.commanderDamage.four }}
          </button>
          <button
            class="rotate"
            :class="{ hidden: !$store.state.players.four.partner }"
            @click="
              $store.dispatch('incCommanderDamage', {
                player: 'three',
                opponent: 'four',
              })
            "
          >
            {{ $store.state.players.three.commanderDamage.four }}
          </button>
        </div>
      </div>

      <div class="horizontal-part">
        <button
          class="rotate"
          @click="$store.dispatch('decLifeTotal', 'three')"
        >
          -
        </button>
        <button class="rotate">
          {{ $store.state.players.three.lifeTotal }}
        </button>
        <button
          class="rotate"
          @click="$store.dispatch('incLifeTotal', 'three')"
        >
          +
        </button>
      </div>
    </div>

    <!-- Player Four -->
    <div class="player four">
      <div class="horizontal-part">
        <button class="rotate" @click="$store.dispatch('incLifeTotal', 'four')">
          +
        </button>
        <div :style="{ display: 'flex' }">
          <button class="rotate">
            {{ $store.state.players.four.lifeTotal }}
          </button>
          <div :style="{ display: 'flex', 'flex-direction': 'column' }">
            <button class="rotate">
              {{ $store.state.players.four.commanderTax[0] }}
            </button>
            <button
              class="rotate"
              v-if="$store.state.players.four.partner"
            >
              {{ $store.state.players.four.commanderTax[1] }}
            </button>
          </div>
        </div>
        <button class="rotate" @click="$store.dispatch('decLifeTotal', 'four')">
          -
        </button>
      </div>
      <div class="horizontal-part">
        <CommanderDamage rotation="left" player="four" opponent="one" />
        <CommanderDamage rotation="none" player="four" opponent="two" />
        <CommanderDamage rotation="left" player="four" opponent="three" />
      </div>
    </div>
    
  </div>
</template>

<script>
import CommanderDamage from "../components/commander-damage/CommanderDamage.vue";

export default {
  components: {
    CommanderDamage,
  },
  data: () => ({
    // 
  }),
  methods: {
    longpress(action) {
      action.params.newValue = 10;
      this.$store.dispatch(action.name, action.params);
    },
  },
};
</script>

<style scoped>

.hidden {
  visibility: hidden;
}

.playground {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.player {
  display: flex;
  height: 50%;
  width: 50%;
}

.horizontal-part {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;

  justify-content: space-evenly;
}

.one {
  background-color: #00328f;
}
.one .rotate {
  transform: rotate(0.25turn);
}

.two {
  background-color: rgb(138, 90, 0);
}
.two .rotate {
  transform: rotate(-0.25turn);
}

.three {
  background-color: rgb(148, 0, 0);
}
.three .rotate {
  transform: rotate(0.25turn);
}

.four {
  background-color: rgb(0, 128, 6);
}
.four .rotate {
  transform: rotate(-0.25turn);
}

button {
  width: 50px;
  color: #fff;
  background-color: #161f27;
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}
</style>