<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/4">4 Players</router-link>
  </div>
  <router-view />
</template>

<style>
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;

/* diabling text selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}

#nav {
  padding: 20px;
  display: none;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

.rotation-left {
  transform: rotate(-0.25turn);
}
.rotation-right {
  transform: rotate(0.25turn);
}
.rotation-flip {
  transform: rotate(0.5turn);
}
</style>
